<table>
    <thead>
        <tr>
            <th></th>
            <th>Nombre</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let client for clientList">
            <td>{{client.id}}</td>
            <td>{{client.nombre}}</td>
            <td><button id="btn_ver" (click)="ver(client, view)">Ver</button></td>
            <td><button id="btn_delete" (click)="delete(client.id_Cliente)">Eliminar</button></td>
        </tr>
    </tbody>
    <tfoot>
        <tr>
            <td><input id="nombre"></td>
            <td><select id="producto">
                    <option *ngFor="let product of productList" [ngValue]="product.id_Producto"> {{product.nombre}}
                    </option>
                </select></td>
        </tr>
    </tfoot>

</table>

<ng-template #view let-modal>
    <input id="input_id">
    <input id="input_nombre">
    <button>Guardar</button>
</ng-template>